-e git+https://github.com/amogh-jrules/bolt-python.git@65fadf4cb546805ac53dde47cef091ec16e39f6a#egg=slack_bolt
pytz==2019.1
pathlib==1.0.1
python-dotenv==0.15.0
firebase-admin==4.4.0
psycopg2==2.8.6
sqlalchemy==1.3.13